<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="demo.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic@0.1/holistic.js" crossorigin="anonymous"></script>
</head>

<body>


<!-- CONTENTS -->
<div class="container" style="margin-top: 20px;">

    <div class="columns">

        <!-- WEBCAM INPUT -->
        <div class="panel-block">
            <video class="input_video4"></video>
        </div>

        <!-- MEDIAPIPE OUTPUT -->
        <div class="panel-block">
            <canvas class="output4" width="480px" height="480px"></canvas>
        </div>
    </div>

    <div class="loading">
        <div class="spinner"></div>
    </div>

    <div style="visibility: visible" class="control4">
    </div>

    <script src="{{url_for('static', filename='mediapipe_full.js')}}"></script>
</div>
</body>
</html>