<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Image Streaming</title>
    <style>
        #localVideo, #remoteCanvas {
            width: 45%;
            border: 1px solid black;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Real-Time Image Streaming</h1>
    <video id="localVideo" autoplay playsinline></video>
    <canvas id="remoteCanvas"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>
    <script src="{{url_for('static', filename='movenet.js')}}"></script>
</body>
</html>
